body {
    background-color:  hsl(30, 54%, 90%);
    color: #565451;
}
.recipe-container {
    background-color: hsl(0, 0%, 100%);
    font-family: "Outfit"
}
h1 {
    font-family: "Young Serif", serif;
    color: hsl(24, 5%, 18%);
}

img {
    width: 500px;
    margin: 30px;
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    margin: 30px;
}
.preparation h3 {
    color: hsl(332, 51%, 32%);
}
.preparation span,
.instructions span {
    color: hsl(30, 10%, 34%);
    font-weight: 700;
}

.ingredients h2,
.instructions h2,
.nutrition h2 {
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%);
}