body {
    background-color:  hsl(30, 54%, 90%);
    color: hsl(30, 10%, 34%);
    margin: 0; 
    padding: 0;
    overflow-x: hidden;
}
.recipe-container {
    display: flex;
    flex-direction: column;
    margin: 95px 190px;
    padding: 30px;
    text-align: justify;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    font-family: "Outfit"
}
h1 {
    font-family: "Young Serif", serif;
    color: hsl(24, 5%, 18%);
}
p {
    padding-bottom: 20px;
}

.img-container {
    width: 100%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    align-self: center;
    border-radius: 10px;
}

.preparation {
    border-radius: 10px;
    background-color: hsl(330, 100%, 98%);
    padding: 20px;
    max-width: 100%;
}
.preparation h3 {
    padding: 0;
    margin: 0;
    color: hsl(332, 51%, 32%);
}
.preparation span,
.instructions span {
    color: hsl(30, 10%, 34%);
    font-weight: 700;
}
.preparation ul {
    margin-bottom: 0;
}

.preparation li,
.ingredients li,
.instructions li {
    padding: 10px;
}

.ingredients,
.instructions {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

.ingredients h2,
.instructions h2,
.nutrition h2 {
    font-family: "Young Serif", serif;
    color: hsl(14, 45%, 36%);
}

.instructions ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.nutrition #boldFont {
    font-weight: 600;
    color: hsl(14, 45%, 36%);
}
.nutrition table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
}
.nutrition tr {
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
.nutrition td {
    padding: 15px 30px;
    text-align: left;
}

.attribution { 
    margin-top: 24px;
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 645px) {
    body {
        margin: 0; 
        padding: 0;
    }

    .recipe-container {
        width: 100vw;
        margin: 0;
        border-radius: 0;
        padding: 0;
    }

    .img-container {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .img-container img {
        width: 100vw;
        height: auto;
        margin: 0;
        border-radius: 0;
        padding: 0;
        display: block;
    }

    .text-container {
        text-align: left;
        padding: 30px;
    }
}
